[local]
localhost ansible_connection=local

[proxmox_hosts]
{% for host in proxmox_hosts %}
{{ host.hostname }} ansible_host={{ host.ip }}
{% endfor %}

[proxmox_hosts:vars]
ansible_user=root
ansible_connection=ssh
