proxmox_hosts:
  - name: proxmox1
    hostname: proxmox1
    ip: 192.168.1.30

  - name: proxmox2
    hostname: proxmox2
    ip: 192.168.1.31

  - name: proxmox3
    hostname: proxmox3
    ip: 192.168.1.32

ci_username: 
ci_password: 